*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #fff;
    display: flex;
    
}



.menu{
    width: 3.5rem;
    height: 100vh;
    background-color: #333;
    padding: 0 0 1rem 0;
    color: #fff;
    overflow: hidden;
    position: sticky;
    top: 0;
    transition: .5s;
   
}
.menu:hover{
    width: 17rem;
  
}

.menu__list{
    
    height: 90%;
    margin-left: -2.2rem;
    list-style: none;
    display: flex;
    flex-direction: column;

    
}

.menu__list__item__profile{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: .5rem;
    gap: 30px;

}

.menu__profile{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: .7rem;
    flex-shrink: 0;
  
}
.menu__profile img{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border: solid #868383 .2rem;
    border-radius: 50%;
}
.menu__profile h3{
    align-self: flex-start;
}


.menu__list__item a, .menu__list__item__logout a{
    color: inherit;
    display: flex;
    gap: 2rem;
    width: 95%;
    height: 3rem;
    padding: 1rem;
    border-radius: .3rem;
    text-decoration: none;
    transition: 1s;
}

.menu__list__item a:hover{
    background-color: #868383;
    
}
.menu__list__item__logout {
    position: absolute;
    width: 95%;
    bottom: 0;
 
}

.menu__list__item__logout {
  margin-bottom: 1rem !important;
 
}
.menu__list__item__logout a{
  background-color: red;
 
}
.menu__list__item__logout a:hover{
    background-color: rgb(185, 38, 38);
}

/* start style of main  */

.container{
    width: 100%;
    padding: 1rem;
}

.container__header{
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #0481ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
}

.container__statistique{
    
    margin: .7rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.container__statistique__data{
    flex-basis: 10rem;
    flex-grow: 1;

    height: 10rem;
    padding: 1rem;
    background: #333;
    border-radius: .5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__statistique__data{
    font-weight: 900;
}
.container__statistique__data i{
    
    font-size: 3rem;
}
.container__statistique__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__statistique__info p{
    font-size: 1.5rem;
}


p.container__statistique__detail{
    font-size: 2.5rem;
}


/* style tables */
table.container__table{
    width: 100% !important;
    text-align: center !important;
    margin: .7rem 0 !important;
    border-collapse: separate !important;
    border-spacing: 5px !important;
}


.container__table th , .container__table td{
    color: black !important;
    
    color: #fff !important;
    background-color: #333 !important;
    height: 3rem !important;
    border-radius: .2rem;
}

.container__table th{
    background-color: #011529e0 !important;
}
