*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #e7e1e1;
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
}


.nav__logo{
    width: 2.7rem;
    height: 2.7rem;
}


.main__section__wikis{
    margin-top: 3rem;
}

.section__wikis__container{
    margin: 1rem;
}

.section__wikis__container img{
    width: 100%;
}


.section__wikis__creation .card-text{
    height: 3.5rem;
    border: solid 1px rgb(194, 194, 194);
    border-radius: 2rem;
    
}

.section__wikis__creation .profile {
    width: 3.5rem;
    height: 3.5rem;

}

textarea{
    border: solid 1px rgb(194, 194, 194);
    padding: 1rem;
}